@import config

//welcome-page
.welcome-page
  background: linear-gradient(to bottom, rgba(30, 94, 155, .7) 0%, rgba(255, 255, 255, .1) 100%),url("/images/dest/welcome-image.png") no-repeat bottom center
  background-size: cover
  height: 100vh
  position: relative

header
  .navbar-brand
    width: 10rem
    img
      width: 100%

.navbar-toggler:focus, .navbar-toggler:hover
    outline: none !important
    box-shadow: none

.vertical-center
  min-height: 100vh
  display: flex
  align-items: center
  justify-content: center

.jumbotron-fluid
  h1
    color: #fff
.jumbotron-button-block
  a
    min-width: 200px

.about
  height: 10000px

.navbar
  background:  linear-gradient( rgba(30, 94, 155, 0.5), rgba(30, 94, 155, 0.5) ), url("/images/dest/top-bg.png") repeat-x
  background-size: cover
  position: absolute
  left: 0
  right: 0
  z-index: 5
  text-transform: uppercase

.header-h1 h1, .h2
  position: relative
  padding-bottom: 1rem
  font-size: 2.8rem
  font-weight: 700

  &::before
    content: ""
    position: absolute
    border-bottom: 2px solid #ED2B2A
    bottom: .5rem
    left: 50%
    width: 50%
    transform: translateX(-50%)

  &::after
    content: ""
    position: absolute
    border-bottom: 2px solid #ED2B2A
    bottom: 0
    left: 50%
    width: 25%
    transform: translateX(-50%)

//About section
.h2
  text-transform: uppercase
  font-size: 2rem
  text-shadow: 0 0 5px #1E5E9B

.about
  background: linear-gradient(to bottom, rgba(255, 255, 255, .1) 0%, rgba(30, 94, 155, .7) 100%),url("/images/dest/bus-about.jpg") no-repeat center center
  background-size: cover
  height: 100%
  p
    font-family: Roboto, sans-serif
  .btn-about
    min-width: 250px
.about-items
  display: flex
  flex-wrap: wrap
  flex-direction: row
  justify-content: center
  align-items: center
  .about-item
    margin: 15px 18px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 150px
    height: 150px
    background-color: #fff
    border: 3px solid #87CEDE
    border-radius: 100%

//services section

.services
  background: linear-gradient(to bottom, rgba(255, 255, 255, .1) 0%, rgba(30, 94, 155, .7) 100%)
.services-item
  img
    opacity: 0.3
.services-info
  position: absolute
  text-align: center
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)



.contacts
  background: green
  height: 600px

.gallery
  ul
    padding: 0
  .gallery
    &-item
      transition: all 0.5s ease
      border: 0 solid #fff
      position: relative
      overflow: hidden

      img
        transition: all 0.5s ease
        min-height: 100%
        width: 100%

      &-overlay
        background-color: rgba(232, 69, 69, 0.9)
        position: absolute
        opacity: 0
        width: 100%
        height: 100%
        top: 0
        left: 0

      &-info
        text-align: center
        display: none
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

      &:hover
        .gallery-item
          &-info
            display: block

          &-overlay
            opacity: 1
        img
          transform: scale(1.2)
